<business-messages></business-messages>
<div ng-init="loadFlatData()" ng-cloak>
	<div class="row" ng-show="requestInProgress.$resolved">
		<section class="col-md-80 connectedSortable">
			<div class="box box-primary">
				<div class="box-header">
					<i class="fa fa-file-text"></i>
					<h3 class="box-title">Work with Order Details</h3>
				</div>
				<div class="box-body" id="flat-box">
					<div class="container col-xs-offset-0">
						<div class="row">
							<div class="col-md-80">
								<form class="form-horizontal" name="flatPanel" focus-on-error>

									<div class="form-group">
										<div class="col-md-14 col-md-offset-70">
											<input type="text" id="zzdate" name="zzdate" ng-model="stateVariable.zzdate" title="zzdate" class="form-control WorkWithOrderDetailsPanel_Zzdate" tabindex="-1" style="text-align: right" maxlength="10" readonly />
										</div>
									</div>

									<div class="form-group">
										<div class="col-md-14 col-md-offset-2">
											<input type="text" id="actdsp" name="actdsp" ng-model="stateVariable.actdsp" title="actdsp" class="form-control WorkWithOrderDetailsPanel_Actdsp" tabindex="-1" maxlength="10" readonly />
										</div>
									</div>

									<div class="form-group">
										<label id="WorkWithOrderDetailsPanel_Customer" class="control-label col-md-9 col-md-offset-4 WorkWithOrderDetailsPanel_Customer" for="xwbccd">{{ consts.WWCONDET02D_Customer }}</label>
										<div class="col-md-11 col-md-offset-15">
											<input type="text" id="xwbccd" name="xwbccd" ng-model="stateVariable.xwbccd" title="xwbccd" class="form-control WorkWithOrderDetailsPanel_CONHDR_Xwbccd" tabindex="-1" ng-style="" maxlength="11" ng-readonly="true" />
										</div>
										<div class="col-md-40 col-md-offset-1">
											<input type="text" id="xwg4tx" name="xwg4tx" ng-model="stateVariable.xwg4tx" title="xwg4tx" class="form-control WorkWithOrderDetailsPanel_Xwg4tx" tabindex="-1" maxlength="40" readonly />
										</div>
									</div>

									<div class="form-group">
										<label id="WorkWithOrderDetailsPanel_Contract" class="control-label col-md-9 col-md-offset-4 WorkWithOrderDetailsPanel_Contract" for="xwordn">{{ consts.WWCONDET02D_Contract }}</label>
										<div class="col-md-9 col-md-offset-15">
											<input type="text" id="xwordn" name="xwordn" ng-model="stateVariable.xwordn" title="xwordn" class="form-control WorkWithOrderDetailsPanel_Xwordn" tabindex="-1" ng-style="" style="text-align: right" maxlength="6" mask-number="6, 0" ng-readonly="true" convert-number modelformat="000000" viewformat="" />
										</div>
									</div>

									<div class="form-group">
										<label id="WorkWithOrderDetailsPanel_Product" class="control-label col-md-7 col-md-offset-4 promptFld WorkWithOrderDetailsPanel_Product {{ pgmLogicCtrlStyle('Xwabcd', false, false) }}" for="xwabcd">{{ consts.WWCONDET02D_Product }}</label>
										<div class="col-md-20 col-md-offset-17">
											<div class="input-group">
											<input type="text" id="xwabcd" name="xwabcd" ng-model="stateVariable.xwabcd" title="xwabcd" class="form-control promptFld WorkWithOrderDetailsPanel_Xwabcd {{ pgmLogicCtrlStyle('Xwabcd', false, false) }}" tabindex="1" ng-style="style()" maxlength="20" ui-keydown="{'shift-191':'prompt(\'STKMASEL01D\', \'xwabcd,xwhltx\')'}" ng-readonly="pgmLogicCtrlReadOnly('Xwabcd', false, false)" />
											<span class="input-group-btn">
												<button  type="button" class="btn btn-default" data-toggle="tooltip" title="STKMASEL01D" ng-click="prompt('STKMASEL01D', 'xwabcd,xwhltx')" ng-show="buttonToRender()"><i class="fa fa-arrow-circle-down"></i></button>
											</span>
											</div>
										</div>
										<div class="col-md-14 col-md-offset-1">
											<input type="text" id="xwhltx" name="xwhltx" ng-model="stateVariable.xwhltx" title="xwhltx" class="form-control WorkWithOrderDetailsPanel_STKMAS_Xwhltx" tabindex="-1" ng-style="" maxlength="10" ng-readonly="true" />
										</div>
									</div>

									<div class="form-group">
										<label id="WorkWithOrderDetailsPanel_Store" class="control-label col-md-5 col-md-offset-4 promptFld WorkWithOrderDetailsPanel_Store {{ pgmLogicCtrlStyle('Xwaacs', false, false) }}" for="xwaacs">{{ consts.WWCONDET02D_Store }}</label>
										<div class="col-md-11 col-md-offset-19">
											<div class="input-group">
											<input type="text" id="xwaacs" name="xwaacs" ng-model="stateVariable.xwaacs" title="xwaacs" class="form-control promptFld WorkWithOrderDetailsPanel_Xwaacs {{ pgmLogicCtrlStyle('Xwaacs', false, false) }}" tabindex="2" ng-style="style()" maxlength="11" ui-keydown="{'shift-191':'prompt(\'STOMASEL01D\', \'xwaacs,xwdesc\')'}" ng-readonly="pgmLogicCtrlReadOnly('Xwaacs', false, false)" />
											<span class="input-group-btn">
												<button  type="button" class="btn btn-default" data-toggle="tooltip" title="STOMASEL01D" ng-click="prompt('STOMASEL01D', 'xwaacs,xwdesc')" ng-show="buttonToRender()"><i class="fa fa-arrow-circle-down"></i></button>
											</span>
											</div>
										</div>
										<div class="col-md-20 col-md-offset-1">
											<input type="text" id="xwdesc" name="xwdesc" ng-model="stateVariable.xwdesc" title="xwdesc" class="form-control WorkWithOrderDetailsPanel_STOMAS_Xwdesc" tabindex="-1" ng-style="" maxlength="20" ng-readonly="true" />
										</div>
									</div>

									<div class="form-group">
										<label id="WorkWithOrderDetailsPanel_Ref_No" class="control-label col-md-7 col-md-offset-4 WorkWithOrderDetailsPanel_Ref_No {{ pgmLogicCtrlStyle('Xwt8tx', false, false) }}" for="xwt8tx">{{ consts.WWCONDET02D_Ref_No }}</label>
										<div class="col-md-15 col-md-offset-17">
											<input type="text" id="xwt8tx" name="xwt8tx" ng-model="stateVariable.xwt8tx" title="xwt8tx" class="form-control WorkWithOrderDetailsPanel_Xwt8tx {{ pgmLogicCtrlStyle('Xwt8tx', false, false) }}" tabindex="3" ng-style="style()" maxlength="15" ng-readonly="pgmLogicCtrlReadOnly('Xwt8tx', false, false)" />
										</div>
									</div>

									<div class="form-group">
										<label id="WorkWithOrderDetailsPanel_Transaction_Type" class="control-label col-md-16 col-md-offset-4 promptFld WorkWithOrderDetailsPanel_Transaction_Type {{ pgmLogicCtrlStyle('Xwricd', false, false) }}" for="xwricd">{{ consts.WWCONDET02D_Transaction_Type }}</label>
										<div class="col-md-9 col-md-offset-8">
											<div class="input-group">
											<input type="text" id="xwricd" name="xwricd" ng-model="stateVariable.xwricd" title="xwricd" class="form-control promptFld WorkWithOrderDetailsPanel_Xwricd {{ pgmLogicCtrlStyle('Xwricd', false, false) }}" tabindex="4" ng-style="style()" maxlength="3" ui-keydown="{'shift-191':'prompt(\'TRNTPSEL01D\', \'xwricd,xwtdsc\')'}" ng-readonly="pgmLogicCtrlReadOnly('Xwricd', false, false)" uppercase />
											<span class="input-group-btn">
												<button  type="button" class="btn btn-default" data-toggle="tooltip" title="TRNTPSEL01D" ng-click="prompt('TRNTPSEL01D', 'xwricd,xwtdsc')" ng-show="buttonToRender()"><i class="fa fa-arrow-circle-down"></i></button>
											</span>
											</div>
										</div>
										<div class="col-md-20 col-md-offset--4">
											<input type="text" id="xwtdsc" name="xwtdsc" ng-model="stateVariable.xwtdsc" title="xwtdsc" class="form-control WorkWithOrderDetailsPanel_TRNTYP_Xwtdsc" tabindex="-1" ng-style="" maxlength="20" ng-readonly="true" />
										</div>
									</div>

									<div class="form-group">
										<label id="WorkWithOrderDetailsPanel_Contract_Qty" class="control-label col-md-13 col-md-offset-4 WorkWithOrderDetailsPanel_Contract_Qty {{ pgmLogicCtrlStyle('Xwa5qt', false, false) }}" for="xwa5qt">{{ consts.WWCONDET02D_Contract_Qty }}</label>
										<div class="col-md-13 col-md-offset-11">
											<input type="text" id="xwa5qt" name="xwa5qt" ng-model="stateVariable.xwa5qt" title="xwa5qt" class="form-control WorkWithOrderDetailsPanel_Xwa5qt {{ pgmLogicCtrlStyle('Xwa5qt', false, false) }}" tabindex="5" ng-style="style()" style="text-align: right" maxlength="13" mask-number="9, 2" ng-readonly="pgmLogicCtrlReadOnly('Xwa5qt', false, false)" convert-number modelformat="0000000.00" viewformat="" />
										</div>
									</div>

									<div class="form-group">
										<label id="WorkWithOrderDetailsPanel_Stk_Unit_of_Measure" class="control-label col-md-20 col-md-offset-4 WorkWithOrderDetailsPanel_Stk_Unit_of_Measure {{ pgmLogicCtrlStyle('Xwa2cd', false, false) }}" for="xwa2cd">{{ consts.WWCONDET02D_Stk_Unit_of_Measure }}</label>
										<div class="col-md-6 col-md-offset-4">
											<input type="text" id="xwa2cd" name="xwa2cd" ng-model="stateVariable.xwa2cd" title="xwa2cd" class="form-control WorkWithOrderDetailsPanel_Xwa2cd {{ pgmLogicCtrlStyle('Xwa2cd', false, false) }}" tabindex="6" ng-style="style()" maxlength="3" ng-readonly="pgmLogicCtrlReadOnly('Xwa2cd', false, false)" uppercase />
										</div>
										<div class="col-md-20 col-md-offset--1">
											<input type="text" id="umdes" name="umdes" ng-model="stateVariable.umdes" title="umdes" class="form-control WorkWithOrderDetailsPanel_Umdes" tabindex="-1" maxlength="20" readonly />
										</div>
									</div>

									<div class="form-group">
										<label id="WorkWithOrderDetailsPanel_Price" class="control-label col-md-6 col-md-offset-4 WorkWithOrderDetailsPanel_Price" for="xwpric">{{ consts.WWCONDET02D_Price }}</label>
										<div class="col-md-13 col-md-offset-18">
											<input type="text" id="xwpric" name="xwpric" ng-model="stateVariable.xwpric" title="xwpric" class="form-control WorkWithOrderDetailsPanel_Xwpric" tabindex="-1" ng-style="" style="text-align: right" maxlength="9" mask-number="6, 2" ng-readonly="true" convert-number modelformat="0000.00" viewformat="" />
										</div>
									</div>
									<input type="hidden" id="sfield" value="stateVariable.sfield" title="Sfield" tabindex="7" class="hidden" maxlength="10" />
									<input type="hidden" id="recnam" value="stateVariable.recnam" title="Recnam" tabindex="8" class="hidden" maxlength="10" />
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="box-footer">
					<div class="row">
						<div class="col-md-80">
							<div action-buttons>
								<button title="Cancel" data-toggle="tooltip" action="cancelPress()">Cancel</button>
								<button id="WWCONDET04D" title="WWCONDET04D" data-toggle="tooltip" action="confirmWWCONDET02D()" visible="confirmationButtonRequired()">{{ consts.WWCONDET02D_WWCONDET04D }}</button>
								<button id="updRec" title="Submit" data-toggle="tooltip" action="submitOnFlat()" visible="submitBtnToRender()">Submit</button>
							</div>
						</div>
					</div>
				</div>
				<async-operation-indicator />
			</div>
		</section>
	</div>
</div>
